* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.container {
    width: 700px;
    height: 700px;
    background: url("../img/sky.jpg");
}

.airplane {
    position: relative;
    animation: start 5s infinite linear;
    transform-origin: 0 0;
    left: 50%;
    top: 50%;

}

.blades {
    position: absolute;
    width: 170px;
    height: 30px;
    background: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 50, 0.2);
    border-radius: 100% 0 0 100%;
    border-right: 2px solid orange;
    transform-origin: 1px 10px;
}
.blades:nth-child(2) {
    transform-origin: -1px 15px;
    transform: rotate(90deg);
}

.blades:nth-child(3){
    transform-origin: -1px 15px;
    transform: rotate(180deg);
}

.blades:nth-child(4) {
    transform-origin: 0 16px;
    transform: rotate(270deg);
}

.center::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    border: 2px dashed orange;
    animation: motor 1s infinite linear;
    z-index: 1;
    left: -15px;
    right: 10px;
}

@keyframes start {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes motor {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}



